.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
.invisible {    
    opacity: 0;
}
.highlight:hover {
    border: 2px solid red; /* You can customize the border style */
  }
  /* Add this style in your CSS or directly in the component */
.service-box:hover {
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  